<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	   <link type="text/css" rel="stylesheet" th:href="@{css/bootstrap.min.css}" /> 
	   
</head>
<body>
<script>0</script>

<div th:replace="fragments/segments :: menu (title='All customers')"></div>

<table class="table table-striped">
<thead class="thead-dark">
      <tr>
      	<th>ID</th>
        <th>Party Name</th>
        <th>Walk-in</th>
      </tr>
      </thead>
    <tr th:each="customer :${customers}">
    <td th:text=${customer.custId}></td>
    <td th:text=${customer.partyName}></td>
    <td th:text=${customer.walkIn}></td>
    </tr>
  </table>



In customerList
<div th:replace="fragments/segments :: footer"></div>



    
</body>
</html>