<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	   <link type="text/css" th:rel="stylesheet"  th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<script>0</script>
<div th:replace="fragments/segments :: menu (title='Log in')"></div>
<div class="d-flex justify-content-center mt-1"><a class="btn btn-outline-dark" href="/addinstance">New Instance</a></div>
	
	<div th:if="${param.error}">
	Invalid user name and password.</div>
	<form th:action="@{/login}" method="post">
	<div><label>User Name: <input type="text" name="username"/></label></div>
	<div><label>Password: <input type="password" name="password"/></label></div>
	<div><input type="submit" value="Sign In"/></div>
	</form>

By the anicients!

<div th:replace="fragments/segments :: footer"></div>

	
</body>
</html>